/* body styling */
body {
    background-color: red;
    font-family: 'Bangers', cursive, sans-serif;
    font-size: 1.563rem;
    letter-spacing: 6px;
}

/* headings*/
h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    letter-spacing: 6px;
}

h2 {
    text-align: center;
}


/* flex boxes */

.flex-outer {
    display: flex;
    justify-content: center;
    background-color: white;
}

.game-area-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1cm;
}

ul {
    display: flex;
    flex-direction: column;
    padding-right: 1cm;
}

li {
    list-style-type: none;
    padding-bottom: 0.6cm;
}

#submit-button {
    display: flex;
    justify-content: center;
    background-color: green;
    transition: all 0.3s;
    display: none;
}

#submit-button:hover {
    background: blue;
    color: white;
}

.score-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons styling. Most of the ideas for how to style the buttons came from an online quiz game that I found, and W3 Schools */

button {
    font-family: 'Bangers', cursive, sans-serif;
    font-size: 20px;
    background-color: red;
    border: none;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 8px;
    letter-spacing: 6px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 0.6cm;
}

button:hover:not([disabled]) {
    background: blue;
    color: white;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    align-items: unset;
}

#button-a {
    display: flex;
    justify-content: center;
}

/* this part of the buttons styling is from a JavaScript tutorial video */

.correct {
    background: green;
}
